@font-face {
    font-family: "dem-serif";
    src: url(../fonts/DMSerifDisplay-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "publik-700";
    src: url(../fonts/PublicSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "publik-400";
    src: url(../fonts/PublicSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "roboto";
    src: url(../fonts/RobotoMono-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}