.simple{
    display: flex;
    justify-content: center;
    align-items: center;
    &__title{
        font-family: "dem-serif";
        font-size: 48px;
line-height: 56px;
/* identical to box height, or 117% */

letter-spacing: -0.369231px;

color: #36536B;
    }
    &__text{
        width: 445px;
        font-family: "publik-400";
        font-size: 15px;
line-height: 28px;
/* or 187% */


color: #36536B;

mix-blend-mode: normal;
opacity: 0.7;
    }
    &__circle{
        position: absolute;
        left: 70%;
        z-index: -2;
        top: 1500px;
        opacity: 45%;
    }
}
@media only screen and (max-width:768px) {
    .simple{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        text-align: center;
         &__text{
            text-align: center;
            &__circle{
                display: none;
            }
         }
    }
}